.theme-light-1 {
    --color-bg: white;
    --color-text: rgb(34, 34, 34);
    --sidebar-border: 1px solid #eaecef;
    --sidebar-background: inherit;
    --color-check-button: #aaa;
    --font-main: 'IBM Plex Sans';
    --font-code: 'IBM Plex Mono';
    
    --color-pre-bg: #f0f0f0;
    --color-pre-text: #222222;
    
    --color-code-bg: #f0f0f0;
    --color-code-text: #8c4a03;
}

.theme-dark-1 {
    --color-bg: #121212;
    --color-text: #ddd;
    --sidebar-border: none;
    --sidebar-background: #222;
    --color-check-button: #333;
    --font-main: 'IBM Plex Sans';
    --font-code: 'IBM Plex Mono';
}
