/*This CSS must load fisrt*/
#overlay {
    z-index: 2000;
    text-align: center;
    line-height: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    background: #fff;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid rgb(34, 34, 34); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  top: 25%;
  margin: 0 auto;
  position: relative;
  padding: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
