/* Wide */

	@media screen and (min-width: 961px) and (max-width: 1880px) {

		
	}

/* Normal */

	@media screen and (min-width: 961px) and (max-width: 1620px) {


	}

/* Narrow */

	@media screen and (min-width: 961px)  {
        .sidebar {
            position: fixed;
            left: 0;
            width: 350px;
            height: 100%;
            background: none;
            transition: all .5s ease;
            overflow-y: auto;
        } 
        /*section{
            margin-left: 350px;
        }*/
        main{
            margin-left: 350px;
        }
        #btn {
            display: none;
        }
        #cancel{
            display: none;
        }
	

	}



	@media screen and (min-width: 736px) and (max-width: 960px) {
        
		
	}

/* Mobile */

	@media screen and (max-width: 736px) {
        
		
	}
