/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');*/
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
.sidebar {
  position: fixed;
  left: -350px;
  width: 350px;
  height: 100%;
  background: inherit;
  transition: all .5s ease;
  overflow-y: auto;
  z-index: 1000;
}
.sidebar header {
    margin: 20px;
}
.sidebar ul a{
  color: black;
  /*padding-left: 40px;*/
  box-sizing: border-box;
  transition: .4s;
}


#sidebarTOC {
    margin: 20px;
}

ul {
    list-style: disc;
    /*padding-left: 1em;*/
    margin-bottom: 0.5em;
}

ul li {
    padding-left: 1em;
    
}

ol {
    list-style: decimal;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

#check{
  display: none;
}
label #btn,label #cancel{
  position: fixed;
  background: #eeeeeeaa;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 25px;
  top: 25px;
  font-size: 20px;
  color: #aaa;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -285px;
  top: 25px;
  font-size: 20px;
  color: #aaa;
  padding: 6px 12px;
  transition: all .5s ease;
}

#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 350px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 285px;
}
#check:checked ~ main{
  /*margin-left: 350px;*/
}
/*
#check:checked ~ section{
  margin-left: 350px;
}*/

main{
  /*height: 100vh;*/
  /*transition: all .5s;*/
  overflow: auto;
}
/*
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}*/
